{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Привет, {{ user.username }}!</h1>
    <p>{{ user.get_full_name }}</p>
{% else %}
    <h1>Привет, гость!</h1>
{% endif %}

{% if products %}
    <ul>
        {% for product in products %}
            <li><a href="{% url 'product-detail' product.pk %}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Пока нет курсов.</p>
{% endif %}
{% endblock %}